/* Header start */
.container-header {
    width: 100%;
    height: 768px;
    background-image: url(../../assets/img-1.png);
    display: flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
}

h2 {
    font-size: 36px;
}

span {
    color: #FF007F;
}

.header-botton-side-left {
    width: 50%;
}

.containter-width {
    max-width: 1440px;
    margin: 0 auto;
}

.button-header {
    background-color: #FF007F;
    border: none;
    cursor: pointer;
    width: 242px;
    height: 60px;
    border-radius: 10px;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 4.5rem;
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

/* Header end */

/* Section start */
.containter-section {
    max-width: 1440px;
    margin: 0 auto;
}

.section-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.section-side-left {
    margin-top: 13%;
}

.section-side-right {
    width: 50%;
    margin-left: 155px;
    margin-top: 200px;
}

.section-side-right p {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.section-side-right h2 {
    font-size: 36px;
}

.section-side-right a {
    color: white;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

.section-side-right h3 {
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: #FF007F;
    display: flex;
    align-items: center;
    text-align: left;
}

svg {
    margin-left: 10px;
}

/* Section end */

/* Card start */
.card-main {
    max-width: 1440px;
    margin: 0 auto;
}

.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-item {
    text-align: center;
    margin: 20px;
}

.card-item:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

.card-main h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-top: 13%;
    margin-bottom: 8%;
    color: #000000;
}

.card-main p {
    font-size: 20px;
    margin-top: 30px;
    max-width: 413px;
}

.card-item h3 {
    font-size: 25px;
    margin-top: 30px;
    max-width: 413px;
}

.card-main span {
    margin-left: 7px;
}

/* Card end */

/* Trust start */
.trust-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.trust-image {
    width: 50%;
}

.trust-text {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.trust-text h2 {
    font-size: 38px;
    color: #000;
    margin: 0;
}

/* Trust end */

/* ImageVariable start */
.image-section {
    margin-top: 10%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    gap: 109px;
    margin: 0 auto;
    margin-bottom: 10%;
}

/* ImageVariable end */