h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    color: #FF007F;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.navbar {
    max-width: 1440px; 
    margin: 0 auto;
    background-color: #fff;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 99;
}

.navbar>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 5rem;
}

nav ul li a {
    font-weight: 400;
    color: #000000;
    
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
}

nav ul li a:hover {
    transform: translate(-5px);
    transition: all 0.2s;
    font-weight: bold;
    color: #FF007F;
}

.button-nav {
    background-color: #FF007F;
    border: none;
    cursor: pointer;
    width: 114px;
    height: 47px;
    border-radius: 10px;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}

.button-register {
    background-color: #ffffff;
    border-color: #FF007F;
    cursor: pointer;
    width: 114px;
    height: 47px;
    border-radius: 10px;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    color: #FF007F;
    font-size: 15px;
    text-decoration: none;
}

button:hover {
    background-color: #ff4ba5;
}

.buttons-navbar {
    display: flex;
    align-items: center;
    gap: 31px;
}